/* @font-face {
  font-family: "DIN-BoldRegular";
  src: url("../fonts/DIN/din-bold-webfont.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DIN Light";
  src: url("../fonts/DIN/din-light-webfont.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DIN Medium";
  src: url("../fonts/DIN/din-medium-webfont.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DIN-RegularRegular";
  src: url("../fonts/DIN/din-regular-webfont.woff");
  font-weight: normal;
  font-style: normal;
} */
